/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  text-transform: lowercase;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}



.package-heading {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #212529;
  text-align: center;
}


.title-ul {
  list-style: none;
  padding-left: 0;
}
.title-ul > li {
  margin-bottom: 0.5rem;
}
.title-ul > li > a::before {
  content: '#';
  color: #eb4432;
  margin-right: 0.3rem;
}
.title-ul > li > a {
  color: #212529;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.title-ul > li > a:hover {
  color: #0d6efd;
  margin-left: 0.3rem;
}

.title-ul > li > ul {
  list-style: none;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}
.title-ul > li > ul > li {
  margin-bottom: 0.5rem;
}
.title-ul > li > ul > li a::before {
  content: '#';
  color: #eb4432;
  margin-right: 0.3rem;
}
.title-ul > li > ul > li > a {
  color: #212529;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.title-ul > li > ul > li > a:hover {
  color: #0d6efd;
  margin-left: 0.3rem;
}

.title-headline h2::before {
  content: '#';
  color: #eb4432;
  margin-right: 0.3rem;
}

.title-headline h2 {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 1rem 0;
}

.title-headline h2 a {
  color: #212529;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.title-headline h2 a:hover {
  color: #0d6efd;
}

.code-box-copy {
  background-color: #212529;
  padding: 1rem;
  border-radius: 0.45rem;
}

.code-box-copy pre {
  color: #8a929c;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  width: 100%;
  overflow: hidden;
  max-height: 300px;
  transition: all 0.9s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.code-box-copy pre:hover {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #0d6efd #212529;
}

.code-box-copy button {
  background-color: transparent;
  border: 0;
  color: #8a929c;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.code-box-copy:hover button {
  opacity: 1;
}


/* .scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}


.force-overflow
{
	min-height: 450px;
} */



/* .code-box-copy pre::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.code-box-copy pre::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.code-box-copy pre::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 100% 0,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
} */


